{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Profile Menu</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ url_for('main.user_profile') }}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h2>Account Settings</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <h4>Personal Information</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control") }}
                        </div>
                    </div>
                    
                    <h4>Change Password</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.current_password.label(class="form-label") }}
                            {{ form.current_password(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.new_password.label(class="form-label") }}
                            {{ form.new_password(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.confirm_password.label(class="form-label") }}
                            {{ form.confirm_password(class="form-control") }}
                        </div>
                    </div>
                    
                    <h4>Preferences</h4>
                    <div class="mb-3">
                        {{ form.newsletter.label(class="form-check-label") }}
                        {{ form.newsletter(class="form-check-input ms-2") }}
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
